terraform/.env
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/*.log
/ansible/inventory/hosts
/ansible/roles/*/vars/main.yml